$screen-desktop-min: 600px;

.comment-form {
    display: inline-flex;
    padding-bottom: 3%;
  }
  textarea {
    width: 200px;
    height: 50px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-size: 1em;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 6%;
    resize: none;
    float: left;
  }
  textarea:focus {
    outline: none;
  }
  @media only screen and (min-width: #{$screen-desktop-min}) {
    textarea {
        width: 400px;
        height: 70px;
        // margin-left: 5%;
        margin-top: 2%;
      }
}